@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --font-kalnia: var(--font-kalnia);
  --font-ibm-plex-sans: var(--font-ibm-plex-sans);
  --subtitle-color: 75, 75, 75;  /* 稍微灰一点的颜色 */
  --description-color: 100, 100, 100;  /* 比 subtitle 稍浅一点的灰色 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --subtitle-color: 180, 180, 180;  /* 深色模式下的灰色 */
    --description-color: 160, 160, 160;  /* 深色模式下比 subtitle 稍深一点的灰色 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

@layer base {
  p {
    @apply text-base font-light mb-4;
  }
}

@layer components {
  .title {
    @apply text-2xl font-bold;
  }
  .subtitle {
    @apply text-xl font-light;
    color: rgb(var(--subtitle-color));
  }
  .body-text {
    @apply text-base font-normal;
    color: rgb(var(--description-color));
  }
  .accent-text {
    @apply text-sm font-medium uppercase tracking-wide;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.description-text {
  line-height: 1.2;
  margin-bottom: 0;
  color: rgb(var(--description-color));
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 在文件末尾添加 */
.font-kalnia {
  font-family: var(--font-kalnia), serif;
}

.project-title {
  font-family: var(--font-kalnia), serif;
  @apply font-bold text-4xl md:text-5xl lg:text-6xl mb-4 md:mb-6 uppercase;
  line-height: 1.2;
}
