@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'IBM Plex Sans', sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  p {
    @apply text-base font-light mb-4;
  }
}

@layer components {
  .title {
    @apply text-2xl font-bold;
  }
  .subtitle {
    @apply text-xl font-light;
  }
  .body-text {
    @apply text-base font-normal;
  }
  .accent-text {
    @apply text-sm font-medium uppercase tracking-wide;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.description-text {
  line-height: 1.2;
  margin-bottom: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 在文件末尾添加 */
.font-kalnia {
  font-family: var(--font-kalnia), serif;
}
